
<!DOCTYPE html>
<html>
<head>
<title>NICE button log list</title>
  <meta http-equiv="refresh" content="30">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
<h1>NICE button log list</h1>
<br>
{% if button_log_list %}
    <table class="table table-striped" id="table-log">
		<thead>
			<tr>
				<th scope="col">Button</th>
				<th scope="col">Value</th>
				<th scope="col">Time</th>
			</tr>
		</thead>
        <tbody>
            {% for button_log in button_log_list %}
				<tr>
					<td data-table-header="Button">{{button_log.button}}</td>
					<td data-table-header="value">{{button_log.value}}</td>
					<td data-table-header="MTime">{{button_log.created_at}}</td>
				</tr>
			{% endfor %}
		</tbody>
  	</table>

{% else %}
    <p>No log is available.</p>
{% endif %}

</body>
</html>


